* {
  font-family: "Raleway", sans-serif;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.ul1 {
  display: flex;
  gap: 40px;
  font-size: 16px;
  font-weight: 500;
}

.ul2 {
  display: flex;
  gap: 20px;
}

.ul2 li {
  color: #AE7B3C;
}

.ul2 li i {
  font-size: 20px;
  font-weight: 600;
}

.ul3 li {
  color: #3D4A39;
}

.ul3 li i {
  margin-right: 10px;
}

.baner {
  width: 100%;
  margin-top: 60px;
}

.baner img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1700px;
  min-width: 850px;
}

.main {
  padding-top: 150px;
  width: 80%;
  margin: 0 auto;
}

.main h1 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 80px;
}

.main1 {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  margin-bottom: 250px;
}

.claster {
  border-left: 2px solid grey;
  padding-left: 30px;
}

.claster h2 {
  color: grey;
  font-size: 25px;
  font-weight: 600;
}

.claster p {
  color: #3D4A39;
  font-size: 25px;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 30px;
}

.claster1 {
  border-left: 2px solid grey;
  padding-left: 30px;
}

.claster1 h2 {
  color: grey;
  font-size: 25px;
  font-weight: 600;
}

.claster1 p {
  color: #3D4A39;
  font-size: 25px;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 30px;
}

.claster2 {
  border-left: 2px solid grey;
  padding-left: 30px;
}

.claster2 h2 {
  color: grey;
  font-size: 25px;
  font-weight: 600;
}

.claster2 p {
  color: #3D4A39;
  font-size: 25px;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 30px;
}

.facility {
  height: 700px;
  background-color: #3D4A39;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.facility h2 {
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin-bottom: 80px;
}

.facility div {
  width: 80%;
  margin: 0 auto;
  color: white;
}

.facility div .part1 {
  display: flex;
  margin-bottom: 80px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 250px;
}

.facility div .part1 .img5 img {
  margin-bottom: 25px;
}

.facility div .part2 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 250px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .container header {
    justify-content: space-between;
  }

  .container header img {
    transform: scale(1.2);
    padding-right: 400px;
  }

  .container header .ul1 {
    display: none;
  }

  .container header .ul2 {
    display: none;
  }

  .container header .ul3 {
    transform: scale(1.5);
  }

  .container header .ul3 li {
    width: 200px;
  }

  .container .baner {
    display: none;
  }

  .container .main h1 {
    margin-left: 80px;
    width: 500px;
    margin-bottom: 150px;
  }

  .container .main .main1 {
    display: inline;
  }

  .container .main .main1 .claster {
    margin-bottom: 180px;
    transform: scale(1.2);
  }

  .container .main .main1 .claster1 {
    margin-bottom: 180px;
    transform: scale(1.2);
    margin-left: 280px;
  }

  .container .main .main1 .claster2 {
    margin-bottom: 180px;
    transform: scale(1.2);
  }

  .container .facility {
    width: 100%;
    margin-bottom: 0;
    height: auto;
  }

  .container .facility .parts {
    display: flex;
  }

  .container .facility .parts .part1 {
    display: inline-block;
    font-size: 20px;
  }

  .container .facility .parts .part2 {
    display: inline;
    font-size: 20px;
  }
}

/*# sourceMappingURL=main.css.map */